@use"../abstracts/variables" as var;

body{
    font-family: var.$police-principale;
    background-color: var.$couleur-tertiaire;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    color: var.$couleur-secondaire;
    margin: 0;
    padding: 0;
}

h2{
    text-transform: uppercase;
    color: var.$couleur-secondaire;
    text-align: center;
    padding-top: 5%;
}

h3{
    text-transform: uppercase;
    color: var.$couleur-principale;
}

p{
    font-size: 1rem;
    color: var.$couleur-principale;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
}