body{
    font-family: "Roboto Régular";
}

h1, h2, h3{
    text-transform: uppercase;

}

p{
    font-size: 1rem;
}

span{
    font-weight: 800;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
}