@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo{
        width: 20%;
    }

    ul{
        display: flex;
        gap: 20px;

        a{
            color: var.$couleur-principale;
        }
    }

    .menu-burger{
        display: none;        
    }
}