@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// section banner
#banner{

    background-image: url(../../assets/img/banner.webp);
    background-position: center;
    background-size: cover;
    height: 80vh;

    .banner-promo{
        background-color: var.$couleur-secondaire;

        .promo{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                padding: 0;
                color: var.$couleur-principale;
                font-weight: 700;
            }
            span{
                background-color: rgb(235, 232, 232, 0.3);
                border-radius: 8px;
                padding: 5px;
            }
        }
    }

    .banner{

        .banner-content{
            background-color: rgb(249, 248, 248,0.8);
            width: 30%;
            padding-left: 30px;
            padding-top: 2%;
            padding-bottom: 3%;
            position: absolute;
            top: 50%;
            border-radius: 15px;
                
            p{
                color: var.$couleur-tertiaire;
                padding-bottom: 20px;
            }
        }
    }  
}