@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// section banner
#banner{
    background-image: url(../../assets/img/banner.webp);
    background-position: center;
    background-size: cover;
    height: 80vh;

    .banner-promo{
        background-color: var.$couleur-secondaire;

        .promo{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                padding: 0;
                color: var.$couleur-principale;
                font-weight: 700;
            }
            span{
                background-color: rgb(235, 232, 232, 0.3);
                border-radius: 8px;
                padding: 5px;
            }
        }
    }

    .banner{

        .banner-content{
            background-color: rgb(249, 248, 248,0.8);
            width: 30%;
            padding-left: 30px;
            padding-top: 2%;
            padding-bottom: 3%;
            position: absolute;
            top: 50%;
            border-radius: 15px;
                
            p{
                color: var.$couleur-tertiaire;
                padding-bottom: 20px;
            }
        }
    }  
}

// section news
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .card{
            border: 1px solid white;
            border-radius: 10px;
            width: 30%;
            height: 40vh;
            background-color: rgb(19, 18, 18);

            h3{
                font-size: 1rem;
            }
            p{
                font-size: 0.8rem;
            }
            img{
                max-height: 15vh;
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            a{
                color: white;
                border: 1px solid rgb(75, 73, 73);
                border-radius: 30px;
                padding: 5px 10px;
                margin-top: 20px;
                margin-right: 10px;
                display: inline-block;
            }
            .news{
                padding-left: 20px;
            }
            span{
                text-transform: uppercase;
                font-size: 0.7rem;
                font-weight: 700;
                position: absolute;
                color: var.$couleur-principale;
                background-color: var.$couleur-secondaire;
                border-radius: 20px;
                border: 1px solid rgb(241, 107, 4);
                padding: 5px 10px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }
}
